[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
flake8 = "*"
django-environ = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-camel-case = "*"
six = "*"
drf-nested-routers = "*"
requests = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
psycopg2 = "*"
django-heroku = "*"
django-rest-swagger = "*"
pyjwt = "*"
paho-mqtt = "*"

[requires]
python_version = "3.6"
