[Unit]
Description=Tms G7 Position
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/Projects/tms-backend
ExecStart=/root/.virtualenvs/tms-backend/bin/python mqtt/stop_event.py --settings .env config.asgi:channel_layer
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
