[Unit]
Description=TMS Celery beat
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/Projects/tms-backend
Environment="DJANGO_SETTINGS_MODULE=config.settings.staging_alibaba"
ExecStart=/root/.virtualenvs/tms-backend/bin/celery -A config beat
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target