[Unit]
Description=tms uWSGI Emperor Service
After=network.target

[Service]
Environment="DJANGO_SETTINGS_MODULE=config.settings.staging_alibaba"
ExecStart=/root/.virtualenvs/tms-backend/bin/uwsgi --emperor /etc/uwsgi/sites
Restart=always
KillSignal=SIQUIT

[Install]
WantedBy=multi-user.target
