[Unit]
Description=Vehicle Management Celery Worker Client
After=network.target


[Service]
PIDFile=/run/tms_celery/tms_celery.pid
User=root
Group=root
WorkingDirectory=/root/Projects/tms-backend
Environment="DJANGO_SETTINGS_MODULE=config.settings.staging_alibaba"
Type=oneshot
ExecStart=/root/.virtualenvs/tms-backend/bin/celery worker -A config
ExecStartPost=/root/.virtualenvs/tms-backend/bin/celery -A config beat
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=always
PrivateTmp=true


[Install]
WantedBy=multi-user.target
